@import "../config/colors";

/* Set the background color as default */
.btn-clr {
  background-color: $primary1;
  color: $white;
}

.btn-clr:hover {
  border-color: $primary1;
  color: $primary1;
}

.btn-light-clr{
  border-color: $primary1;
  color: $primary1;
}

.clr {
  color: $primary1;
}

.btn-clr-dr {
  background-color: $doctor;
  color: $white;
}

.btn-clr-dr:hover {
  border-color: $doctor;
  color: $doctor;
}

.clr-dr {
  color: $doctor;
}

.btn-clr-patient {
  background-color: $patient;
  color: $white;
}

.btn-clr-patient:hover {
  border-color: $patient;
  color: $patient;
}

.clr-patient {
  color: $patient;
}
/* Set the background color for doctors */
[data-userable-type="Doctor"] .btn-clr {
  background-color: $doctor;
}

[data-userable-type="Doctor"] .btn-light-clr {
  border-color: $doctor;
  color: $doctor;
}

[data-userable-type="Doctor"] .col-12.col-sm-10.col-md-8.col-lg-5 {
  color: $doctor;
}

/* Set the background color for patients */
[data-userable-type="Patient"] .btn-clr {
  background-color: $patient;
}

[data-userable-type="Patient"] .btn-light-clr {
  border-color: $patient;
  color: $patient;
}

[data-userable-type="Patient"] .col-12.col-sm-10.col-md-8.col-lg-5 {
  color: $patient;
}

.form-control:focus {
  border-color: $primary1;
  box-shadow: 0 0 0 0.25rem rgba(0, 238, 135, 0.25);
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 33px;
  height: 19px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-10 {
  margin-bottom: 10px;
}
