@import "/../config/colors";

.navbar-lewagon {
  justify-content: space-between;
}

.navbar-lewagon.clr {
  background-color: $primary1;
}

/* Set the background color for doctors */
[data-userable-type="Doctor"] .navbar-lewagon.clr {
  background-color: $doctor;
}

/* Set the background color for patients */
[data-userable-type="Patient"] .navbar-lewagon.clr {
  background-color: $patient;
}


.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}


// Start Mobile menu

.showMenu {
  transform: translateY(0);
}

// End Mobile menu
